<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URL" value="https://phptravels.net/"/>
		<add key="Driver" value="Chrome"/>
		<add key="PathPostUser" value="/Account/v1/User"/>
		<add key="PathGetUser" value="/Account/v1/User/"/>
		<add key="PathToken" value="/Account/v1/GenerateToken"/>
		<add key="HostPath" value="demoqa.com"/>
		<add key="ApplicationType" value="application/json"/>
	</appSettings>
</configuration>