<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browserName" value="Chrome"/>
		<add key="startUrl" value="http://automationpractice.com/"/>
		<add key="emailLogin" value="http://automationpractice.com/"/>
		<add key="password" value="123456"/>
	</appSettings>
</configuration>