<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="Chrome"/>
		<add key="uri" value="https://phptravels.net/"/>
		<add key="host" value="demoqa.com"/>
		<add key="ApplicationType" value="application/json"/>
		<add key ="pathPost" value= "/Account/v1/User"/>
		<add key ="token" value ="/Account/v1/GenerateToken"/>
		<add key ="pathGetDel" value="/Account/v1/User/{Id}"/>
		<add key ="Scheme" value="https"/>
		<add key ="userName" value="ThuTrang102545"/>
		<add key ="password" value="123-Apple-$$$"/>
	</appSettings>
</configuration>